

# Essencial para produção FastAPI
# Ambientes virtuais
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.env.*
*.pem
*.key
*.crt
*.p12
wip.md


# Caches e arquivos temporários
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.hypothesis/
.cache
.tox/
.nox/
.pyre/
.pytype/
cython_debug/
.dmypy.json
dmypy.json

# Testes, logs e relatórios
htmlcov/
*.log
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
cover/

# Builds e distribuições
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST
*.spec
*.so
*.py[cod]
*$py.class
.Python
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg


# Dependências temporárias
pip-log.txt
pip-delete-this-directory.txt

# IDE e configs locais
.git
.spyderproject
.spyproject
.ropeproject
.idea/
local_settings.py
ipython_config.py
.python-version
.pdm.toml
poetry.toml
pyrightconfig.json
profile_default/
.ipynb_checkpoints
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
/site
__pypackages__/
db.sqlite3
db.sqlite3-journal
celerybeat-schedule
celerybeat.pid
*.sage.py
# Fim dos padrões essenciais
